.currentPlantView {
  border-style: solid;
  border-width: 3px;
  border-color: plum;
}

.upper-plant-view {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  height: 30vh;
}

.plant-pic {
  height: 11vh;
  width: 11vh;
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
}
