.currentPlantView {
  border-style: solid;
  border-width: 3px;
  border-color: plum;
  margin-right: 1.
}

.upper-plant-view {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  height: 30vh;
}

.left-plant-view {
  border-style: solid;
  border-width: 3px;
  border-color: brown;
}

.plant-basics {
  border-style: solid;
  border-width: 3px;
  border-color: teal;
  position: relative;
  margin-left:
}

.plant-pic {
  height: 11vh;
  width: 11vh;
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
}
