.currentPlantView {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 171, 108);
  border-radius: 20px;
  margin-top: 4vh;
  margin-right: 2.5vh;
  margin-left: 2.5vh;
  display: flex;
  flex-direction: column;
}

.upper-plant-view {
  /* border-style: solid;
  border-width: 3px;
  border-color: red; */
  width: auto;
  display: flex;
  flex-direction: row;
}

.left-plant-view {
  /* border-style: solid;
  border-width: 3px;
  border-color: brown; */
  margin-left: 1vw;
  width: 48vw;
  display: flex;
  flex-direction: row;
}

.right-plant-view {
  width: 40vw;
  position: absolute;
  right: 7vw;
  margin-top: 1vh;
  text-align: center;
}

.plant-basics {
  position: relative;
  margin-top: 1vh;
  margin-left: 4vw;
  width: auto;
}

.plant-pic {
  height: 13vh;
  width: 13vh;
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
  text-align: center;
}

.plant-health {
  position: relative;
  margin-top: 1vh;
  right: -4vw;
}

.garden-group-name {
  background-color: white;
  border-radius: 20px;
  border-color: rgb(150, 171, 108);
  border-style: solid;
  border-width: 3px;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  /* color: rgb(150, 171, 108); */
  text-decoration: none;
  font-size: 2vw;
  width: 25vw;
  text-align: center;
  display: inline-block;
}

.remove-plant-btn {
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  width: 25vw;
  text-align: center;
  display: inline-block;
}

.data-tab {
  background-color: rgb(150, 171, 108);
  border-radius: 15px 15px 0 0;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  width: 7vw;
  position: absolute;
  top: 16vh;
  right: 0vh;
}

.info-tab {
  background-color: rgb(150, 171, 108);
  border-radius: 15px 15px 0 0;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  width: 7vw;
  position: absolute;
  top: 16vh;
  right: 9vh;
}

.unpop-plant-view {
  height: 23vh;
  font-size: 3vw;
  text-align: center;
}

.unpop-plant-view p {
  position: relative;
  display: inline-block;
  left: 70%;
}

.icon {
  position: relative;
  display: inline-block;
  margin-top: 1vh;
}
