.editUser {
  border-style: solid;
  border-width: 3px;
  border-color: teal;
  /* display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly; */
}

.edit-user-btn {
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  color: white;
  text-decoration: none;
  font-size: 2vw;
}
