.footer {
  background-color: rgb(150, 171, 108);
  height: 4vh;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer p {
  text-align: center;
  margin: auto;
  color: white;
}

.footer a {
  color: white;
}
