.form {
  
}

.form__field {
  display: flex;
  align-items: center;
  margin: 0.5em 1em;
}

.form__field label {
  width: 40%;
}

.form__field input[type="text"], 
.form__field select {
  width: 55%;
}

.form__field input[type="number"] {
  width: 5em;
}

/* Range Slider */
.range-slider {
  width: 55%;
  display: flex;
  align-items: center;
}

.range-slider__sliders {
  position: relative;
  height: 35px;
  width: 100%;
  text-align: center;
  margin: 0 5px;
}

.range-slider__sliders input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 8px;
  width: 100%;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.range-slider__sliders input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.range-slider__sliders input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.range-slider__sliders input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}
.range-slider__sliders input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
.range-slider__sliders input[type=range]::-moz-focus-outer {
  border: 0;
}