.header {
  border-style: solid;
  border-width: 3px;
  border-color: #6B8E23;
  /* background-color: #6B8E23; */
  opacity: .71;
  overflow: hidden;
  position: fixed;
  padding-left: 10px;
  padding-top: 5px;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header * {
  display: inline;
}

.link {
  margin: 20px;
  color: #404040;
  text-decoration: none;
  display: inline-block;
}

.active {
  background-color: #6B8E23;
  color: white;
}

.navWide {
  display: none;
}

.navNarrow {
  img {
    float: left;
    margin-left: 10px;
  }
  .narrowLinks {
    display: none;

    h4 {
      display: block;
      float: left;
      clear: left;
    }
  }
}

@media (min-width: 480px){
  header {
    .navWide {
      display: block;
    }
    .navNarrow {
      display: none;
    }
  }
}
