.header {
  background-color: #c7dd9b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .hamburger {
  display: none;
  padding: 5px 10px;
  cursor: pointer;
}

.header .hamburger div {
  width: 2rem;
  height: 3px;
  background-color: #404040;
  margin: 6px 0;
  transition: transform .25s ease-in-out;
}

.header.open .hamburger div:first-child {
  transform: rotate(45deg) translate(2px, 6px);
}

.header.open .hamburger div:nth-child(2) {
  display: none;
}

.header.open .hamburger div:last-child {
  transform: rotate(-45deg) translate(0px, -4px);
}

.header .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.header .nav-links :last-child {
  margin-left: auto;
}

.header .nav-links .link {
  padding: 0.75em 1em;
  color: #404040;
  text-decoration: none;
}

.header .nav-links .link.active {
  background-color: #96ab6c;
}

.header .nav-links button.link {
  border: none;
  background: #677c40;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (max-width: 600px) {
  .header .hamburger {
    display: inline-block;
  }

  .header .nav-links  {
    display: none;
    flex-direction: column;
  }

  .header.open .nav-links {
    display: flex;
  }

  .header.open .nav-links .link {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
