.home-container {
  display: grid;
  grid-template-rows: 45vh 50vh;
  grid-template-areas:
  "top"
  "bottom";
}

.tophalf {
  /* border: solid;
  border-width: 3px; */
  grid-area: top;
  background-color: rgb(150, 171, 108);
}

.tophalf h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.tophalf h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.tophalf p {
  color: white;
  font-size: 13px;
}

.bottomhalf {
  border: solid;
  border-width: 3px;
  grid-area: bottom;
}

.link-row {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 7vh;
  justify-content: space-evenly;
}

.home-links {
  background-color: rgb(150, 171, 108);
  padding-top: 1vh;
  padding-left: 13vh;
  padding-right: 13vh;
  padding-bottom: 1vh;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 4vw;
}
