.container {
  display: grid;
  grid-template-rows: 55vh 40vh;
  grid-template-areas:
  "top"
  "bottom";
}

.tophalf {
  border: solid;
  border-width: 3px;
  grid-area: top;
  background-color: #6B8E23;
  opacity: .71;
}

.tophalf h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.tophalf h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.tophalf p {
  color: white;
  font-size: 13px;
}

.bottomhalf {
  border: solid;
  border-width: 3px;
  grid-area: bottom;
}

.bottomhalf button {

}
