.loginForm {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 171, 108);
  border-radius: 36px 36px 0 0;
  height: 30vh;
  margin-left: 8vw;
  margin-right: 8vw;
}

.login-title {
  font-size: 3.5vw;
  margin-top: 3vh;
  margin-left: 4vh;
  color: #404040;
  text-align: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-row1 {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center
}

.login-row2 {
  padding-left: 5vw;
}

.login-input input {
  padding-left: 13vh;
  padding-right: 13vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 4vh;
  border-radius: 20px;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

.login-input input::placeholder {
  text-align: center;
  font-size: 2vw;
}

.login-input input select textarea{
  text-align: center;
  font-size: 6vw;
}

.login-submit {
  background-color: rgb(150, 171, 108);
  padding: .8vw;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 2vw;
}

.bottombox {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 171, 108);
  border-radius: 0 0 36px 36px;
  height: 9vh;
  background-color: rgb(150, 171, 108);
  margin-left: 8vw;
  margin-right: 8vw;
}

.signup-link {
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  margin-left: 2vh;
}
