#outer-modal {
  position: relative;
  z-index: 999;
}

.inner-modal {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 36px 36px 36px 36px;
  background-color: white;
  margin: 3vh;
}

.topbox-modal {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(150, 171, 108);
  border-radius: 36px 36px 0 0;
  height: 7.5vh;
  background-color: rgb(150, 171, 108);
}

.topbox-modal button {
  margin-top: 10px;
  margin-left: 15px;
}

.deletePlantForm {
  padding: 1vh;
  margin: 1vh;
  text-align: center;
}

.deletePlantForm form {
  display: inline-block;
}

.editUserForm {
  padding: 1vh;
  margin: 1vh;
  text-align: center;
}

.editUserForm form {
  display: inline-block;
}
