.signup-container {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(150, 171, 108);
  border-radius: 36px 36px 0 0;
  margin-left: 8vw;
  margin-right: 8vw;
  height: 60vh;
}

.signup-title {
  font-size: 4.5vw;
  margin-top: 3vh;
  margin-left: 4vh;
  color: #404040;
  text-align: center;

}

.signup-form {
  display: flex;
  flex-direction: column;
  text-align: center
}

.signup-input {
  text-align: center
}

.signup-input input {
  padding-left: 13vh;
  padding-right: 13vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 4vh;
  border-radius: 20px;
  width: 55vw;
  display: inline-block;
  text-align: center;
}

.signup-input input::placeholder {
  text-align: center;
  font-size: 2vw;
}

.signup-submit {
  background-color: white;
  padding: .8vw;
  border-radius: 20px;
  color: #404040;
  text-decoration: none;
  font-size: 1.5vw;
  margin-top: 0.5vh;
}
