.todo {
  display: grid;
  grid-template-columns: 18fr 18fr 18fr 18fr 18fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  align-items: stretch;
  height: 35vh;
  padding-left: 1.8vh;
  padding-right: 1.8vh;
  margin-top: 6vh;
}
