.todo {
  border-style: solid;
  border-width: 3px;
  border-color: navy;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 1.5vh;
  align-items: stretch;
  height: 35vh;
  padding-left: 1.8vh;
  padding-right: 1.8vh;
  /* overflow-x: auto; */
}
