.userPlants {

}

.user-plant-title {
  color: white;
  text-align: center;
  margin-top: 1.5vh;
  font-size: 4.5vw;
  margin-bottom: 4vh;
}

.create-plant-row {
  text-align: center;
}

.create-plant-btn {
  background-color: rgb(150, 171, 108);
  border-radius: 20px;
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 1vh;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  display: inline-block;
}

.plant-card-container {
  height: 65vh;
  margin-top: 1vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  overflow-y: auto;
}
